@use "setting" as *;

.inner {
  width: calc(100% - rem(32));
  max-width: rem(960);
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.title {
  margin-bottom: rem(20);
}

.post {
  & > h1 {
    font-size: rem(32);
    font-weight: bold;
    margin: rem(40) 0 rem(24);
    background-color: #eee;
    padding: rem(8) rem(24);
    border-radius: rem(5);
  }

  & > h2 {
    font-size: rem(24);
    font-weight: bold;
    margin: rem(40) 0 rem(16);
    border-bottom: rem(1) solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: rem(0.2);
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
}
.bloginfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(40);
  > p{
    margin: 0;
    padding: 0;
    line-height: 1em;
    &.category{
      display: inline-block;
      padding: rem(8) rem(16);
      color: $c-main-on-text;
      background-color: $c-main;
      border-radius: rem(4);
    }
    &.publishedAt {
      font-size: rem(14);
    }
  }
}

// header
.header {
  background-color: $c-main;
  padding: rem(8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  h1 {
    color: $c-main-on-text;
    margin: 0;
    font-size: rem(32);
  }
  > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.globalmenu {
  display: flex;
  list-style: none;
  color: $c-main-on-text;
  font-size: rem(16);
  li {
    &:not(:last-of-type) {
      &::after {
        padding: 0 rem(16);
        content: "|";
      }
    }
  }
}

// footer
.footer {
  background-color: $c-main;
  padding: rem(8) 0;
  .copyright {
    font-size: rem(14);
    text-align: right;
    color: $c-main-on-text;
  }
}


// main
.main{
  min-height: calc(100vh - rem(128));
  margin-top: rem(67);
  padding: rem(24) 0;
}